# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/translations
/out-tsc

# dependencies
node_modules
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/documentation/*
/libpeerconnection.log
npm-debug.log
testem.log
yarn-error.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# CI build specifics
jira_fix_versions.json
dist.tar
